.Business-banner {
  background-image: url('https://res.cloudinary.com/dj2ghn49v/image/upload/v1670137435/gradient-dark-blue-futuristic-digital-background_53876-160646_u6k32z.jpg');
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
}

.Business-banner-div-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
}

.Business-banner-it-solution-para {
  font-size: 34px;
  color: #2fb690;
}
.Business-banner-technology-para {
  font-size: 100px;
  color: #fff;
}
.Business-banner-btn {
  background-color: #6654e8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  margin-top: 30px;
}
.Business-banner-play-icon {
  font-size: 45px;
  color: #fff;
}
.Business-banner-watch-para {
  color: #fff;
  margin-left: 10px;
}
.Business-banner-button-div {
  display: flex;
}
.Business-banner-play-div {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.Business-banner-bottom-para-div {
  display: flex;
  justify-content: center;
  background-color: #6654e8;
  color: rgb(219, 219, 219);
  padding: 25px 0px;
}
.Business-banner-bottom-para-div span {
  font-weight: 600;
  border-bottom: 3px solid #aed6f7;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .Business-banner {
    height: auto;
  }
  .Business-banner-it-solution-para {
    font-size: 12px;
  }
  .Business-banner-technology-para {
    font-size: 32px;
  }
  .Business-banner-btn {
    font-size: 8px;
    margin-top: 10px;
  }
  .Business-banner-div-flex {
    padding: 10px 0px;
  }
}
