/* Write your code here. */
.list-item {
  border: none;
  background-color: transparent;
}
.thumbnail {
  width: 60px;
  height: 60px;
  opacity: 0.5;
}

.active {
  opacity: 1;
}
.thumbnail-button {
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}
.listbtn {
  width: 60px;
}
