.list-item {
  margin-right: 50px;
  color: #0f172a;
  width: auto;
}

.list-button {
  border-style: none;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  padding: 5px;
}

.color-item {
  border-style: solid;
  border-color: #0284c7;
  border-width: 1px;
  border-radius: 15px;
  color: #0284c7;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 576px) {
  .list-item {
    margin-right: 20px;
  }
  .list-button {
    font-size: 12px;
  }
}
