.achivement-ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.achivements-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20%;
}
.achivements-icon-main-div {
  display: flex;
  margin-bottom: 15px;
}
.achivements-icon-main-div-2 {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  font-size: 30px;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  color: #6654e8;
  box-shadow: rgba(110, 110, 110, 0.35) 0px 5px 15px;
}
.achivements-icon-main-div-2:hover {
  color: #fff;
  background-color: #6654e8;
}
.achivements-count {
  color: #2be4ab;
  font-size: 30px;
}
.achivements-head {
  margin: 10px 0px;
  font-weight: bold;
}
.achivements-para {
  color: #a6a3ad;
}

/*  */

.achivements-blue-div {
  background-color: #6654e8;
  color: #fff;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 70px;
}
.achivements-icon-div {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.achivements-chat-icons {
  width: 60px;
  margin: 0px 10px;
}
.achivements-hr-line {
  width: 50px;
}
