.main-container {
  background-color: #ffd569;
  padding: 30px;
  height: 100vh;
}
.main-container-2 {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  width: 200px;
}
